.tech {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    &__item {
        margin-left: 0;
        margin-right: 30px;
        text-align: center;
    }

    &__icon {
        display: inline-block;

        & svg {
            font-size: 2.5rem;
        }
    }

    &__name {
        font-weight: 600;
        line-height: 2.3;
        font-size: .8rem;
        color: $primary-theme-content-color;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 500px) {
    .tech {

        &__item {
            margin-left: 10px;
            margin-right: 15px;
        }

        &__name {
            font-size: .8em;
            font-weight: 600;
            line-height: 2.3em;
            color: $primary-theme-content-color;
            text-transform: uppercase;
        }
    }
}
