.profile {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 15vw;
    max-width: 400px;
    min-width: 300px;
    background: $primary-theme-base-color;
    box-shadow: 0 32px 84px 0 $primary-shadow-black-color;

    &__deco-img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__deco-img {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../../../assets/images/-q8hegIzAKM.jpg') center no-repeat;
        background-size: cover;
    }

    &__board {
        height: 100%;
    }

    &__deco-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, $primary-profile-img-a 35%, $primary-profile-img-b 64%, $primary-profile-img-c 100%);
    }
}

.skype:hover svg,
.skype:focus svg {
    color: $base-skype;
}

.vk:hover svg,
.vk:focus svg {
    color: $base-vk;
}

.telegram:hover svg,
.telegram:focus svg {
    color: $base-telegram;
}

@media screen and (max-width: 900px) {
    .profile {
        display: none;
    }
}
