.profile {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 15vw;
    max-width: 400px;
    min-width: 300px;
    background: $primary-theme-base-color;
    box-shadow: 0 32px 84px 0 $primary-shadow-black-color;

    &__deco-img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__deco-img {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../../../assets/images/-q8hegIzAKM.jpg') center no-repeat;
        background-size: cover;
    }

    &__board {
        height: 100%;
    }

    &__deco-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, $primary-profile-img-a 35%, $primary-profile-img-b 64%, $primary-profile-img-c 100%);
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 20%;

        & li {
            margin-right: 15px;
            margin-left: 15px;
        }

        & a {
            text-align: center;
        }

        & svg {
            font-size: 1.7rem;
            line-height: 2;
            color: $primary-theme-content-color;
            transition: color .3s ease-in;
        }
    }

    &__name {
        font-weight: bold;
        color: $primary-base-white-color;
    }
}

.skype:hover svg,
.skype:focus svg {
    color: $base-skype;
}

.vk:hover svg,
.vk:focus svg {
    color: $base-vk;
}

.telegram:hover svg,
.telegram:focus svg {
    color: $base-telegram;
}

@media screen and (max-width: 900px) {
    .profile {
        display: none;
    }
}
