@mixin fp-btn($rotate) {
    width: 100%;
    height: 60px;
    font-size: 2em;
    color: $primary-theme-content-color;
    cursor: pointer;
    background: $primary-theme-base-color;
    border: 0;
    transform: rotateX($rotate);
    backface-visibility: hidden;
}


.flip-button {
    position: absolute;
    display: flex;
    width: 100%;
    transition: .3s cubic-bezier(.775, .07, .575, .995);
    transform-style: preserve-3d;

    &__front {
        @include fp-btn(0deg);

        position: absolute;
        z-index: 2;
     }

    &__back {
        @include fp-btn(-180deg);

        position: relative;
     }
 }

.flip-button_selected {
    transform: rotateX(180deg);
}
