$base-skype: #01aff0;
$base-vk: #3f72ad;
$base-telegram: #00adea;
$base-html: #e44d26;
$base-css: #249cdb;
$base-js: #f1d91b;
$base-sass: #c76494;
$base-less: #1c3f6c;
$base-git: #eb5e46;
$base-angular: #d7002e;
$base-react: #5dd4f4;
$base-gulp: #e64c50;

$primary-theme-base-color: #1c1c1c;
$primary-theme-main-bg-color: #000000;
$primary-theme-content-color: #909090;
$primary-base-yellow-color: #f3cf14;
$primary-base-white-color: #fff;
$primary-bg-black-color: #000;
$primary-shadow-black-color: rgba(0, 0, 0, .83);
$primary-profile-img-a: rgba(25, 25, 27, .84);
$primary-profile-img-b: rgba(12, 12, 22, 0);
$primary-profile-img-c: rgba(17, 18, 18, .78);


