.page-root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 320px;
    min-height: 410px;
    overflow: hidden;

    &__content {
        display: flex;
        justify-content: stretch;
        width: 80vw;
        height: 80vh;
        max-width: 1300px;
        min-height: 600px;
    }
}

@media screen and (max-width: 850px) {
    .page-root__content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }

    canvas {
        display: none;
    }

    .page-root {
        background: $primary-theme-main-bg-color;

        &__content {
            width: 100%;
            height: 100%;
        }
    }
}

.title {
    font-weight: bold;
    color: $primary-base-yellow-color;
    text-transform: uppercase;
}

.title_size-XS {
    font-size: 1rem;
}

.title_size-S {
    font-size: 1.3rem;
}

.title_size-M {
    font-size: 1.6rem;
}

.title_size-L {
    font-size: 1.9rem;
}

.text_size-XS {
    font-size: .8rem;
}

.text_size-S {
    font-size: 1rem;
}

.text_size-M {
    font-size: 1.2rem;
}

.text_size-L {
    font-size: 1.3rem;
}
